.footer10-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer10-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c2d35;
}
 
.footer10-divider1 {
  background-color: transparent;
}
 
.footer10-content {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer10-links {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  margin-left: var(--dl-layout-space-unit);
}
 
.footer10-column2 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer10-image1 {
  height: 3rem;
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.footer10-column1 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer10-column1-title {
  color: #ffffff;
}
 
.footer10-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer10-link1 {
  color: #ffffff;
}
 
.footer10-link2 {
  color: #ffffff;
}
 
.footer10-column3 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer10-column3-title {
  color: #ffffff;
}
 
.footer10-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer10-link61 {
  color: #ffffff;
}
 
.footer10-link7 {
  color: #ffffff;
}
 
.footer10-link8 {
  color: #ffffff;
}
 
.footer10-link9 {
  color: #ffffff;
}
 
.footer10-column4 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer10-column4-title {
  color: #ffffff;
}
 
.footer10-footer-links3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer10-divider2 {
  width: 100%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.52);
}
 
.footer10-credits1 {
  width: auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-layout-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer10-row {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer10-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.footer10-content3 {
  color: #ffffff;
}
 
.footer10-text10 {
  display: inline-block;
}
 
.footer10-text11 {
  display: inline-block;
}
 
.footer10-text12 {
  display: inline-block;
}
 
.footer10-text13 {
  color: #ffffff;
  display: inline-block;
}
 
.footer10-text14 {
  display: inline-block;
}
 
.footer10-text15 {
  display: inline-block;
}
 
.footer10-text18 {
  display: inline-block;
}
 
.footer10-text19 {
  display: inline-block;
}
 
.footer10-text20 {
  display: inline-block;
}
 
.footer10-text21 {
  display: inline-block;
}
 
.footer10-text22 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer10-column2 {
    max-width: 100%;
  }
  .footer10-column1 {
    max-width: 100%;
  }
  .footer10-column3 {
    max-width: 100%;
  }
  .footer10-column4 {
    max-width: 100%;
  }
}
 
@media(max-width: 767px) {
  .footer10-content {
    flex-direction: column;
  }
  .footer10-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer10-column2 {
    max-width: 100%;
    align-items: center;
  }
  .footer10-column1 {
    max-width: 100%;
    align-items: center;
  }
  .footer10-column1-title {
    text-align: center;
  }
  .footer10-footer-links1 {
    align-self: center;
  }
  .footer10-column3 {
    max-width: 100%;
    align-items: center;
  }
  .footer10-column3-title {
    text-align: center;
  }
  .footer10-footer-links2 {
    align-self: center;
  }
  .footer10-column4 {
    max-width: 100%;
    align-items: center;
  }
  .footer10-column4-title {
    text-align: center;
  }
  .footer10-footer-links3 {
    align-self: center;
  }
  .footer10-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer10-credits2 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .footer10-links {
    flex-direction: column;
  }
  .footer10-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer10-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer10-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer10-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer10-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer10-column4 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer10-footer-links3 {
    align-items: center;
    justify-content: center;
  }
  .footer10-credits1 {
    gap: 0;
  }
  .footer10-row {
    align-items: center;
    justify-content: center;
  }
}
